
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: Arial;
  font-size: 13px;
  line-height: 1.5em;
  color: #1db954;
}

.clearfix { clear: both; }

#container {
  width: 330px;
  min-height: 400px;
  overflow: auto;
}

#audio-image {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 15px;
}

#audio-image .cover { width: 100%; }

#audio-info { text-align: center;
color: #1db954;
text-shadow:none; }

#audio-info .artist { font-weight: bold; }

#buttons {
  width: 90%;
  display: block;
  margin: 15px auto;
  margin-left: 23px;
  overflow: auto;
}

button#play {
  width: 70px;
  height: 70px;
  background: url(../images/play.png) no-repeat;
  float: left;
  margin-left: -2px;
  border:none;
}

button#pause {
  width: 70px;
  height: 70px;
  background: url(../images/pause.png) no-repeat;
  float: left;
  margin-left: -2px;
  border:none;
}

button#stop {
  width: 70px;
  height: 70px;
  background: url(../images/stop.png) no-repeat;
  float: left;
  margin-left: 3px;
  border:none;
}

button#prev {
  width: 70px;
  height: 70px;
  background: url(../images/prev.png) no-repeat;
  float: left;
  margin-top: 15px;
  border:none;
}

button#next {
  width: 70px;
  height: 70px;
  background: url(../images/next.png) no-repeat;
  float: right;
  margin-top: 15px;
  border:none;
}

#tracker {
  position: relative;
  width: 100%;
  color:#1db954;
  text-shadow: none;
}

#progress-bar {
  width: 80%;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 9px;
  height: 10px;
  background: url(../images/progress_bg.png) no-repeat;
  float: left;
}

#progress {
  background: url(../images/progress.png) no-repeat;
  height: 10px;
  display: inline-block;
}

#duration {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 4px 8px;
  background: #000;
  border-radius: 5px;
}

#playlist { list-style: none;
color:white;
text-shadow: none; }

#playlist li {
  cursor: pointer;
  margin: 5px;
}

#playlist li.active {
  font-weight: bold;
  color:#1db954;
  text-shadow: none;
}
